.our-team {
    margin-bottom: 10%;
}

.info-collaborators{
    margin-top:50px;
    margin-bottom:50px;

}

.regular-image {
    width: 140px;
}
.smaller-image {
    width: 80px;
}

.clip-path {
    clip-path: circle(50% at 50% 50%);
}

#devsGrid {
    margin-bottom: 2rem;
}

@media only all and (max-width: 1192px) {
    .regular-image {
        width: 120px;
    }
    .smaller-image {
        width: 64px;
    }
}
