.materiais-on {
    color: #b0c4de;
}

.materiais-on:hover {
    color: #e6e6fa;
}

.materiais-off {
    color: #c0c0c0;
}
.section {
    margin-bottom: 2.4rem;
}

.section h3 {
    margin-bottom: 0.5rem;
}

.classification-color-left {
    background-color: var(--primary-color);
}
.classification-text-left {
    color: var(--primary-color);
}

.classification-color-right {
    background-color: var(--secondary-color);
}

.classification-text-right {
    color: var(--secondary-color-darker);
}
