
.materiais-on {
    color:#B0C4DE;
}

.materiais-on:hover {
    color:#E6E6FA;
}

.materiais-off {
    color:#C0C0C0;
}
.section {
    margin-bottom:2.4rem;
}

.section h3 {
    margin-bottom:0.5rem;
}




