header {
    /*border-top: 2px solid #014C8C;*/
    width: 100vw;
    background-color: #fff;
}

.menu-container {
    width: 90vw;
    align-items: center;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 24px;
    font-size: 1.8rem;
    text-decoration: none !important;
    font-weight: 600;
    color: rgb(32, 32, 32);
}

/* nav a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: var(--secondary-color);
  display: block;
  transition: 0.5s;
}


nav a:hover::after{
  width: 100%;
}*/

.access-btn {
    margin-left: 1.5rem;
    padding: 0.5rem 1.75rem;
    border-radius: 100px;
    outline: none;
    background-color: var(--primary-color);
    color: var(--on-primary);
    border: none;
}

.access-btn::after {
    display: none;
}

.access-btn:hover {
    cursor: pointer;
    color: #fff;
}

.logo-navbar {
    height: 40px;
    outline: none;
}

.container-menu-burger {
    --menu-size: 32px;
    position: relative;
    display: none;
    align-items: center;
    height: var(--menu-size);
    width: var(--menu-size);
}

.menu-burger,
.menu-burger::before,
.menu-burger::after {
    content: "";
    position: absolute;
    display: block;
    height: calc(var(--menu-size) / 10);
    width: var(--menu-size);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: all 0.3s linear;
}

.menu-burger::before {
    transform: translateY(calc(var(--menu-size) / -3));
}

.menu-burger::after {
    transform: translateY(calc(var(--menu-size) / 3));
}

.user-icon {
    font-size: 2.4rem;
}

.user-icon:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.menu-section.on {
    position: fixed;
    height: 100vh;
    background-color: var(--primary-color-darker);
    width: 70vw;
    right: 0;
    top: 0;
    z-index: 10;
}

.menu-section.on .container-menu-burger {
    position: fixed;
    top: 16px;
    right: 0;
    margin-right: 5%;
}

.menu-section.on .menu-burger,
.menu-section.on .menu-burger::before,
.menu-section.on .menu-burger::after {
    background-color: white;
}

.menu-section.on nav {
    display: block;
    text-align: center;
}
.menu-section.on nav a {
    display: block;
    text-align: left;
    margin: 0 0;
    color: white;
}
.menu-section.on nav .access-btn {
    margin: 8px 16px;
    width: 90%;
    text-align: center;
    background-color: var(--secondary-color);
}
.menu-section.on nav .dropdown {
    text-align: center;
    color: white;
}

.menu-section.on nav .dropdown .user-icon {
    display: flex;
}

@media only screen and (max-width: 768px) {
    header {
        height: 64px;
    }
    header nav {
        display: none;
    }

    header .container-menu-burger {
        display: flex !important;
    }

    .menu-container {
        padding: 0;
    }

    .menu-section.on nav .dropdown .user-icon .fa-user-circle {
        display: none;
    }
    .menu-section.on nav .dropdown .user-icon .dropdown-text {
        display: block !important;
        font-size: 1.8rem;
    }

    .menu-section.on nav .dropdown .user-icon {
        padding: 24px;
        margin: 0 !important;
    }
}
