.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    align-items: center;
    max-width: 600px;
}

.btn {
    background-color: var(--primary-color);
    color: var(--on-primary);
}
