#sidebar_btn{
    color: #0c3f7c;
    font-size: 20px;
    /* padding: 10px 10px; */
}

#sidebar_btn-active{
    /* color: #fff; */
    color: red;
    padding: 20px 16px;
    margin-left: 14px;
    margin-top: 8px;
    font-size: 20px;
}

.right{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: 0 !important;
}

.left{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: -250px !important;
}


#sidebar{
    background: #f8f9fa;
    height: 100%;
    position: fixed;
    max-width: 200px;
    min-width: 200px;
    margin-left: -250px;
    top: 0;
    /* opacity: 0.3; */
    z-index:999;
}

.sidebar-image_profile{
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
}

#sidebar .name_user{
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: 600;
}

.sidebar-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
}

.list-links{
    display: block;
    font-weight: 500;
    line-height: 60px;
    transition: 0.3s;
    transition-property: all;
    color:#000;
}

#sidebar .list-links:hover{
    background: #0d5ab9;;
    text-decoration: none;
    color: #fff;
}

.link-active {
    background: #0d5ab9;;
    text-decoration: none;
    color: #fff;
}